/* Estilo geral da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
 /* Container do formulário */
.login-container {
  background-image: url('aviao.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 350px;
  max-width: 90%;
}
  
  /* Título da página */
  .login-container h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
  }
  
  /* Estilo dos campos de entrada */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  /* Botão de login */
  button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Link de esqueci a senha ou cadastro */
  a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
  }
  
  a:hover {
    text-decoration: underline;
  }
